* {
    -fx-primary: #000000;
    -fx-secondary: #121212;
    -fx-terciary: #1ED760;
}

.primary_color {
    -fx-background-color: -fx-primary;
}

.secondary_color {
    -fx-background-color: -fx-secondary;
}

.selected {
    -fx-border-color: -fx-terciary;
    -fx-border-width: 0 0 0 5;
    -fx-text-fill: white;
}

.selected Label {
    -fx-text-fill: white;
}

Label:hover {
    -fx-text-fill: white;
}

.imagem1 {
    -fx-image: url("../bin/img/ic_home.png");
}

.top-border-separator {
    -fx-border-color: #282828;
    -fx-border-width: 1 0 0 0;
}

.search-container {
    -fx-background-color: #fff;
    -fx-background-radius: 100;
}

.upgrade_button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: #189444;
    -fx-text-fill: #a1a1a1;
}

.upgrade_button:hover {
    -fx-border-color: -fx-terciary;
    -fx-background-color: -fx-terciary;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-scale-x: 1.1px;
    -fx-scale-y: 1.1px;
}

.loved-button {
    -fx-image: url("../bin/img/ic_love.png")
}

.loved-button:hover {
    -fx-image: url("../bin/img/ic_love_hover.png")
}

.scroll-pane>.viewport {
    -fx-background-color: #121212
}

.scroll-pane>.corner {
    -fx-background-color: #121212;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #121212;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #8787871f;
    -fx-background-radius: 5em;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button:hover,
.scroll-bar>.decrement-button:hover {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #87878785;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #878787f1;
}


/* Styling the slider track */

.jfx-slider>.track {
    -fx-background-color: #87878785;
}


/* Styling the slider thumb */

.jfx-slider>.thumb {
    -fx-background-color: transparent;
}

.jfx-slider>.thumb:hover {
    -fx-background-color: white;
}


/* Styling the filled track */

.jfx-slider>.colored-track {
    -fx-background-color: -fx-terciary;
}


/* Styling the animated thumb */

.sliderVolume>.animated-thumb {
    -fx-background-color: -fx-terciary;
}

.timeSongSlider>.animated-thumb {
    -fx-background-color: transparent;
}


/* Styling the slider value text inside animated thumb */

.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

.timeSongSlider .slider-value {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}

.play-button:hover {
    -fx-scale-x: 1.1px;
    -fx-scale-y: 1.1px
}

.button-next {
    -fx-image: url("../bin/img/skip-next.png");
    -fx-width: 20;
    -fx-height: 20;
}

.button-next:hover {
    -fx-image: url("../bin/img/skip-next-activate.png");
}

.button-previus {
    -fx-image: url("../bin/img/skip-previous.png");
    -fx-width: 20;
    -fx-height: 20;
}

.button-previus:hover {
    -fx-image: url("../bin/img/skip-previous-activate.png");
}


/* .jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-background-image: url("../bin/img/ic_play_card.png");
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}


/*Raised button example */


/*.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: transparent;
    -fx-text-fill: white;
} */


/* #imageCard {
    -fx-background-image: url("../bin/img/faded.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 700;
    -fx-background-position: center center;
} */


/* 
#lbInicio:hover {
    -fx-text-fill: red;
}

#lbInicio:hover .imagem1 {
    -fx-image: url("../bin/img/ic_love.png");
} 

.imagem1:hover {
    -fx-image: url("../bin/img/ic_love.png");
}

*/